<a href="https://colab.research.google.com/github/tonmoy7014/practice/blob/main/Project1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing necessary libraries**

In [ ]:
import numpy as np
import pandas as pd

**Importing the dataset**

In [ ]:
df=pd.read_csv("weather_data_nyc_centralpark_2016.csv")

**Checking the first few rows with head function**

In [ ]:
df.head()

       date  maximum temperature  ...  snow fall  snow depth
0  1-1-2016                   42  ...        0.0           0
1  2-1-2016                   40  ...        0.0           0
2  3-1-2016                   45  ...        0.0           0
3  4-1-2016                   36  ...        0.0           0
4  5-1-2016                   29  ...        0.0           0

[5 rows x 7 columns]

**Describe function is used to check how numerical values are distributed in the dataset**

In [ ]:
df.describe()

       maximum temperature  minimum temperature  average temperature
count           366.000000           366.000000           366.000000
mean             64.625683            49.806011            57.215847
std              18.041787            16.570747            17.124760
min              15.000000            -1.000000             7.000000
25%              50.000000            37.250000            44.000000
50%              64.500000            48.000000            55.750000
75%              81.000000            65.000000            73.500000
max              96.000000            81.000000            88.500000

**Shape function is used to check the number of rows and columns**

In [ ]:
df.shape

(366, 7)

**columns funtion is used to check the names of all the columns**

In [ ]:
df.columns

Index(['date', 'maximum temperature', 'minimum temperature',
       'average temperature', 'precipitation', 'snow fall', 'snow depth'],
      dtype='object')

**isnull function is used to check if there is any missing data or not. We added the sum function to know the number of missing values in each column**

In [ ]:
df.isnull().sum()

date                   0
maximum temperature    0
minimum temperature    0
average temperature    0
precipitation          0
snow fall              0
snow depth             0
dtype: int64

**Here we are just checking the "maximum temperature" column**

In [ ]:
max_temp=df['maximum temperature']

In [ ]:
max_temp.head()

0    42
1    40
2    45
3    36
4    29
Name: maximum temperature, dtype: int64

**using max() function to get the maximum value**

In [ ]:
max_temp.max()

96

**value_counts() function is added to check the occurences of each value. From the output,we can see that, the "83" value has appeared "12" times**

In [ ]:
df['maximum temperature'].value_counts()

83    12
59    11
85    11
86    11
39    10
      ..
95     1
29     1
28     1
22     1
15     1
Name: maximum temperature, Length: 71, dtype: int64

In [ ]:
df['date'].head()

0    1-1-2016
1    2-1-2016
2    3-1-2016
3    4-1-2016
4    5-1-2016
Name: date, dtype: object

**Here we have created a subset with only date & maximum temperature columns**

In [ ]:
subset=df[['date','maximum temperature']]

In [ ]:
subset.head()

       date  maximum temperature
0  1-1-2016                   42
1  2-1-2016                   40
2  3-1-2016                   45
3  4-1-2016                   36
4  5-1-2016                   29

**Here we are interested to check the values for a particular date**

In [ ]:
condition=df[(df['date']=="4-1-2016")]

In [ ]:
condition

       date  maximum temperature  ...  snow fall  snow depth
3  4-1-2016                   36  ...        0.0           0

[1 rows x 7 columns]

**Here we have determined the mean value of the "maximum temperature" column**

In [ ]:
avg_temp=df['maximum temperature'].mean()

In [ ]:
avg_temp

64.6256830601093

**Here we have checked ,how many values of "maximum temperature column are greater than the average temperature**

In [ ]:
df[(df['maximum temperature']>avg_temp)].value_counts().sum()

183